################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Forum8/bin/Debug/net6.0
/Forum8/obj
